@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;450;500;530;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); */


body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Poppins';
}
nav {
    background: transparent;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.001),
        rgba(255, 255, 255, 0.001)
    );
    backdrop-filter: blur(1rem);   
} 

.nav-text-color {
    font-family: 'Poppins';
    color: #ffffff;
    padding: 10px 0;
    cursor: pointer;
}
.nav-text-color:hover {
    color: #ffffffa4;
}
  
.navbar-toggler {
    border: none;
}
.banner{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -50px;
    width: 100%;
    height: 100vh;    
}
.banner-text{
    color: #fefefe;
    border: solid white 1px;
    border-radius: 25px;
    text-transform: capitalize;
    backdrop-filter: blur(.151rem);
    padding: 20px;
}
.link-icons{
    border: solid white 1px;
    border-radius: 20px;
    backdrop-filter: blur(.151rem);
}
.link-icons ul {
    display: flex;
    gap: 20px;
    margin: 0 0!important;
    padding: 20px!important;
    list-style: none;
}
.link-icons li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
}

.link-icons li a:hover {
    
    transform: scale(1.7); /* Slight zoom */
}
/* --- Specific Hover Styles for Each li --- */

/* First li */
.link-icons li:nth-child(1) a:hover {
    color: #0826e4; /* Blue*/
}

/* Second li */
.link-icons li:nth-child(2) a:hover {
    color: #d77608; /* Brown */
}

/* Third li */
.link-icons li:nth-child(3) a:hover {
    color: #f7a52b; /* Orange */
}

/* Fourth li */
.link-icons li:nth-child(4) a:hover {
    color: #b631f3; /* Pink */
}
.download-btn{
    display: flex;
    flex-direction: column;
    color: white;
    backdrop-filter: blur(.151rem);
    
}
.download-btn a{
    color: #fefefe;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    border: solid 1px white;
    text-shadow: 0 0 15px #000000;
    border-radius: 20px;
    padding: 8px;
    transition: .3s ease;
}
.download-btn a:hover{
    transform: scale(1.1);
}

.abt h2{
    margin-top: 25px;
    color: #fff;
}
.abt p{
    font-family: "poppins";
    text-align: justify;
    font-size: .999em;
    font-weight: 440;
    color: #fff;
}
#skills{
    text-align: center;
    color: #fff;
    overflow: hidden;
}
#skills ul{
    padding : 10px;
}
#edu , #exp{
    height: max-content;
    color: #fefefe;
}
#abtsec .row ,#edu .row, #exp .row, #skills{
margin: 40px auto 60px; 
}
.container-proj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow:hidden;
}
.container-proj h1{
    color: white;
}
.cards-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}
.proj-cards{
    display: flex;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    border: solid 1.2px blueviolet;
    border-radius: 20px;
    width: 17em;
    height: 25em;
    cursor: pointer;
    transition: .3s ease;
}
.proj-cards:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px whitesmoke;
}
.cards-container:hover .proj-cards {
  transform: scale(0.95);
  transition: 0.3s ease;
}

/* Keep the hovered one scaled up */
.cards-container .proj-cards:hover {
  transform: scale(1.1);
}
.proj-banner{
    text-align: center;
    color: #000; 
    background-color: blueviolet;
}
.proj-banner h6{
    margin: 2.5rem;
}
.img-card{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 85.948px;
    border: solid 1.2px blueviolet;
    border-radius: 10px;
}
.cards-container .proj-cards:nth-child(1) .img-card{
    background-image: url(images/portfolio.jpg);
}
.cards-container .proj-cards:nth-child(2) .img-card{
    background-image: url(images/indbritz.jpg);
}
.cards-container .proj-cards:nth-child(3) .img-card{
    background-image: url(images/christnet.jpg);
}
.cards-container .proj-cards:nth-child(4) .img-card{
    background-image: url(images/aeda.jpg);
}
.proj-details{
    color: #fefefe;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: .5rem;
}
.proj-details a{
    color: #fefefe;
    text-decoration: none;
}
.proj-details a span{
    font-size: 15px;
    color: blueviolet;
}
.proj-details p{
    font-size: medium;
}
#edu h1, #exp h1{
    text-align: center;
}
#edu-left{
    border-right: 2px solid white;
    text-align: right;
    padding-right: 1.5em;
}
.edu-2{
    margin-top: 7em;
    padding-left: 1.5em;
}
.edu-3{
    margin-top: 7em;
    padding-right: 1.5em;
}
#achiv-title{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 2em;
}

#achiv ul li {
    list-style-type: none;
    color: #fff;
    line-height: 2.5em;
}

footer hr{
    color: #fefefe;
}

.fttr ul{
    padding-left: 0;
}
.fttr ul li{
    color: #fff;
    width: 50px;
    height: 0px;
    border: none;
    display: inline;
    margin: 4px;
}
.fttr a{
    font-size: 19px;
    text-decoration: none;
}
.fttr a li:hover{
    color: gray;
}
.rights{
    margin-top: 2.5em;
}


.form-container{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 10% 5rem;
}
::placeholder{
    color: #000000;
}
.form-container h1{
    padding-top: 2em;
    font-family: "Poppins";
    color: #fff;
}
.form-container p{
    color: #fefefe;
    text-align: center;
    font-weight: 440;
}
.form-container p span{
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.form-container input{
    height: 2.5rem;
    border-radius: 10px;
    padding-left: 1.25rem;
    background: blueviolet;
    border: 2px solid black;
    color: Black;
    transition: .2s ease;

}
.form-container input::after{
    border-color: #000000;
    background: blueviolet;
}

.form-container textarea{
    background: blueviolet;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 1rem 0 0 1rem ;
    color: black;
}
.form-container button{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: blueviolet;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.form-container button:hover{
    background: black;
    color: #fefefe;
    box-shadow: 1px 1px 9px 1px blueviolet;
}
.cus{
    font-family: "Poppins"!important;
    font-style: normal;
}
.cui{
    position: relative;
    top: 1rem;
    text-align: start;
    font-family: "poppins";
    color: #fff;
    font-size: 1.1112em;
}
.joinbtn{
    display: block;
    text-align: center;
    margin: 10px auto 50px auto;
}
.joinbtn a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 19px; /* Base size for smaller screens */
    margin-top: 10px;
    padding: 10px 20px;
    transition: color 0.3s;
    overflow: hidden;
    position: relative;
  }
.joinbtn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 21, 3, 0.582);
    z-index: -2;
    transition: 0.3s;
}
.joinbtn a:hover span{
    width: 100%; 
}
label {
    color: red;
    text-align: start;
    margin: -10px 0;
    display: flex;
}

.mail-us {
    padding: 0 10% 5rem;
}
.mail-us h2{
    color: #fff;
    text-align: center;
}
.mail-us p{
    color: #fefefe;
    text-align: center;
    font-weight: 440;
}

/* Loading Screen Animation */

#loading-overlay {
    position: fixed; /* Covers the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Fills the entire screen */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Center the content vertically and horizontally */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure loading overlay appears above other elements */
  }
  
  #alert-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the alert popup */
    z-index: 1000; /* Ensure alert popup appears above other elements */
  }
  