@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;450;500;530;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.bnr img {
    filter: blur(.5); /* Standard */
    -webkit-filter: blur(.5); /* WebKit */
    -moz-filter: blur(.5); /* Mozilla */
    -o-filter: blur(.5); /* Opera */
}
  
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
 
header {
    background: rgb(19,5,46);
background: linear-gradient(90deg, rgba(19,5,46,1) 0%, rgba(20,0,59,1) 10%, rgba(21,0,61,1) 50%, rgba(13,0,43,1) 68%, rgba(10,0,35,1) 88%, rgba(8,0,24,1) 96%,rgba(8,0,24,1) 100%);
    /* background: rgb(255,0,61);
    background: linear-gradient(90deg, rgba(255,0,61,1) 3%, rgba(115,0,255,1) 50%, rgba(255,0,78,1) 100%); */
} 
  
.ntext {
    font-family: 'Cinzel Decorative';
    font-weight: 550;
    font-size: 1.67rem;
}
  
.navbar-dark .navbar-toggler {
    border: none;
}
  
.hero img {
    width: 100%;  
}
 
.welc h1 {
    color: #fff;
    font-family: 'Cinzel Decorative';
    font-weight: 550;
    font-size: 3.4em;
    transition: 0.3s;
}
.welc h2 {
    color: #fff;
    font-family: 'Cinzel Decorative';
    font-weight: 550;
    font-size: 3em;
    transition: 0.3s;
}
  
.welc h1:hover, .welc h2:hover {
    -webkit-text-stroke: 2px #ffff;
    color: transparent;
    background-color: linear-gradient
}  

.welc ul{
    padding-left: 0;
}
.welc ul li{
    color: #fff;
    width: 50px;
    height: 0px;
    border: none;
    display: inline;
    margin: 4px;
}
.welc a{
    font-size: 24px; /* Adjust as needed */
    text-decoration: none;
}
.welc a:hover li{
    color: #000000;
}
.abt h2{
    font-family: "DM Serif Display";
    margin-top: 25px;
    color: #fff;
}
.abt p{
    font-family: "poppins";
    text-align: justify;
    font-size: .999em;
    font-weight: 440;
    color: #fff;
}
#skills{
    text-align: center;
    color: #fff;
}
h1,h2{
    font-family: "DM Serif Display";
    margin-top: 25px;
    color: #fff;
}
#skills ul{
    padding : 10px;
}
#edu{
    height: max-content;
    color: #fefefe;
}
#abtsec .row ,#edu .row, #skills{
margin: 40px auto 60px; 
}
#edu h1{
    text-align: center;
}
#edu-left{
    border-right: 2px solid white;
    text-align: right;
    padding-right: 1.5em;
}
.edu-2{
    margin-top: 7em;
    padding-left: 1.5em;
}
.edu-3{
    margin-top: 7em;
    padding-right: 1.5em;
}
#achiv-left{
    text-align: center;
    text-decoration: underline white;
    margin-bottom: 2em;
}

#achiv ul li{
    color: #fff;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .welc h1{
        display: none;
      }
    .welc h2{
      font-size: 6em;
    }
}
/* Style for laptop screens */
@media (min-width: 1024px) {
    .navbar{
        position: relative;
        display: contents;
    }
    #achiv-left{
        text-align: start;
        text-decoration: none;
    }
    #achiv-right{
        padding-left: 20.5em;
    }
    #achiv ul li{
        color: #fff;
        line-height: 3.5em;
    }
          
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
    -webkit-appearance: none;
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form-container{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 10% 5rem;
}
::placeholder{
    color: #000000;
    
}
.form-container h1{
    padding-top: 2em;
    font-family: "DM Serif Display";
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
    animation: typing 7.5s steps(40, end);
}
.form-container p{
    color: #fefefe;
    text-align: center;
    font-weight: 440;
}
.form-container p span{
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.form-container input{
    height: 2.5rem;
    border-radius: 10px;
    padding-left: 1.25rem;
    border: 1px solid grey;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(34, 33, 33);
    transition: .2s ease;

}
.form-container input:focus{
    border: none;
}
.form-container textarea{
    border-radius: 10px;
    border: 1px solid grey;
    padding: 1rem 0 0 1rem ;
    color: rgb(34, 33, 33);
    background: rgba(255, 255, 255, 0.5);
}
.form-container button{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.form-container button:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.cus{
    font-family: "Poppins"!important;
    font-style: normal;
}
.cui{
    position: relative;
    top: 1rem;
    text-align: start;
    font-family: "poppins";
    color: #fff;
    font-size: 1.1112em;
}
.joinbtn{
    display: block;
    text-align: center;
    margin: 10px auto 50px auto;
}
.joinbtn a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 19px; /* Base size for smaller screens */
    margin-top: 10px;
    padding: 10px 20px;
    transition: color 0.3s;
    overflow: hidden;
    position: relative;
  }
.joinbtn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(35, 21, 3, 0.582);
    z-index: -2;
    transition: 0.3s;
}
.joinbtn a:hover span{
    width: 100%; 
}
label {
    color: red;
    text-align: start;
    margin: -10px 0;
    display: flex;
}

.mail-us {
    padding: 0 10% 5rem;
}
.mail-us h2{
    color: #fff;
    text-align: center;
}
.mail-us p{
    color: #fefefe;
    text-align: center;
    font-weight: 440;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Loading Screen Animation */

#loading-overlay {
    position: fixed; /* Covers the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Fills the entire screen */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Center the content vertically and horizontally */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure loading overlay appears above other elements */
  }
  
  #alert-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the alert popup */
    z-index: 1000; /* Ensure alert popup appears above other elements */
  }
  